@import "tailwindcss";

@import "../styles/layout.css";
@import "../styles/form.css";
@import "../styles/button.css";
@import "../styles/alert.css";
@import "../styles/auth.css";
@import "../styles/home.css";
@import "../styles/navbar.css";