@layer components {
  .btn-primary {
    @apply w-full inline-flex items-center justify-center rounded-full bg-teal-900 text-white px-4 py-2.5 hover:bg-black transition;
  }

  .btn-primary[disabled] {
    @apply opacity-60 cursor-not-allowed;
  }

  .btn-secondary {
    @apply inline-flex items-center justify-center text-sm border border-teal-900 rounded-full hover:bg-teal-900 px-4 py-2.5 hover:text-white transition;
  }
}
